@page
@model Web.Pages.Marcas.AgregarModel
@{
}
<h1>Agregar Marca</h1>
<div class="container">
    <div class="col-xl-5 col-lg-6 col-md-8 cold-sm-10 mx-auto">
        <form method="post">
            <div class="form-group">
                <label class="control-label" asp-for="marca.Nombre"></label>
                <input class="form-control" asp-for="marca.Nombre" />
                <span class="text-danger" asp-validation-for="marca.Nombre"></span>
            </div>
            <div class="text-danger" asp-validation-summary="All"></div>
            <div class="form-group">
                <a class="btn btn-primary" asp-page="./index">Regresar</a>
                <input type="submit" value="Agregar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>