@page
@model Web.Pages.Marcas.EleminarModel
@{
}

<h5>Eliminar Marca</h5>

<div class="container">
    <form method="post">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">
                        <div>
                            <b>@Html.DisplayNameFor(modelo => modelo.marca.Nombre):</b>
                            @Html.DisplayFor(modelo => modelo.marca.Nombre)
                        </div>
                    </p>
                </div>
            </div>
        </div>
        <a type="button" class="btn btn-primary" asp-page="./Index">Regresar</a>
        <button type="submit" class="btn btn-danger">Eliminar</button>
    </form>
</div> 